$white: #FFFFFF;
$gray: #EBEAEB;
$light: #F5FBFF;
$dark: #011041;
$primary: #E0F4FF;
$secondary: #FAF2EF;

@import 'scss/functions';
@import 'scss/layout';
@import 'scss/sidebar';
@import 'scss/chat';
